<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="/static/image/png" sizes="16x16" href="/static/assets/images/favicon.png">
    <title> Bearkey | Start up your dream</title>
    <!-- Bootstrap Core CSS -->
    <link href="/static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="/static/css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href={%url 'webapp:index' %}>
                        <!-- Logo icon -->
                        <b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="/static/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                            
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span>
                            <!-- dark Logo text -->
                <!--<img src="/static/assets/images/logo-text.png" alt="homepage" class="dark-logo" />-->
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0 ">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
<!--
                        <li class="nav-item hidden-sm-down">
                            <form class="app-search p-l-20">
                                <input type="text" class="form-control" placeholder="Search for..."> <a class="srh-btn"><i class="ti-search"></i></a>
                            </form>
                        </li>
-->
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/static/assets/images/{{request.user.avatar}}" alt="user" class="profile-pic m-r-5" />{{request.user}}&nbsp;<i class = "fa fa-chevron-down" ></i></a>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></a>
                            <ul class="dropdown-menu drp-mnu">
                <!--
                                <li> <a href="#" class="nav-link dropdown-toggle text-muted waves-effect waves-dark"><i class="fa fa-spin fa-cog"></i> Settings</a> </li> 
                                <li> <a href="#" class="nav-link dropdown-toggle text-muted waves-effect waves-dark"><i class="fa fa-user-circle-o"></i> Profile</a> </li> 
                -->
                                <li> <a href="/accounts/logout/" class="nav-link dropdown-toggle text-muted waves-effect waves-dark"><i class="fa fa-window-close-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;Logout</a> </li> 
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li>
                            <a href={%url 'webapp:index' %} class="waves-effect"><i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>Home</a>
                        </li>
<!--                         <li class="active">
                            <a href="#" class="waves-effect"><i class="fa fa-user m-r-10" aria-hidden="true"></i><span>Deploy</span><i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href={%url 'webapp:workmode' %}><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Work Mode</a></li>
                                <li><a href={%url 'webapp:usbfunction' %}><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;USB Function</a></li>
                                <li><a href={%url 'webapp:rpm' %}><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;RPM Packages</a></li>
                                <li><a href={%url 'webapp:pypackages' %}><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Python Packages</a></li>
                                <li><a href={%url 'webapp:aiapp' %}><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;AI Application</a></li>
                            </ul>
                        </li> -->
<!--                         <li class="active">
                            <a href="#" class="waves-effect"><i class="fa fa-gear" aria-hidden="true"></i><span>&nbsp;&nbsp;Setting</span><i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href={%url 'webapp:password_setting' %}><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Password</a></li>
                                <li><a href={%url 'webapp:network' %}><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Network</a></li>
                            </ul>
                        </li> -->
<!--                         <li>
                            <a href='#' class="waves-effect"><i class="fa fa-table m-r-10" aria-hidden="true"></i>Host</a>
                        </li> -->
{#                        <li>#}
{#                            <a href={%url 'webapp:workmode' %} class="waves-effect"><i class="fa fa-columns m-r-10" aria-hidden="true"></i>Work Mode</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href={%url 'webapp:usbfunction' %} class="waves-effect"><i class="fa fa-bookmark m-r-10" aria-hidden="true"></i>Usb Function</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href={%url 'webapp:isupdate' %} class="waves-effect"><i class="fa fa-cloud m-r-10" aria-hidden="true"></i>Update</a>#}
{#                        </li>#}
                        <li>
                            <a href={%url 'webapp:password_setting' %} class="waves-effect"><i class="fa fa-cube m-r-10" aria-hidden="true"></i>Password</a>
                        </li>
{#                        <li>#}
{#                            <a href={%url 'webapp:network' %} class="waves-effect"><i class="fa fa-pencil m-r-10" aria-hidden="true"></i>Network</a>#}
{#                        </li>#}
                        <!-- <li> -->
                            <!-- <a href={%url 'webapp:isreboot' %} class="waves-effect"><i class="fa fa-info-circle m-r-10" aria-hidden="true"></i>Reboot</a> -->
                        <!-- </li> -->
                        <li>
                            <a href={%url 'webapp:help' %} class="waves-effect"><i class="fa fa-tablet m-r-10" aria-hidden="true"></i>Help</a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            {%block content%}
            {%endblock%}
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
            © 2020 official website <a href="http://www.bearkey.com.cn" target="_blank" title="贝启科技">Bearkey</a>
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/static/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/static/assets/plugins/bootstrap/js/tether.min.js"></script>
    <script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/static/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/static/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/static/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="/static/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="/static/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- Flot Charts JavaScript -->
    <script src="/static/assets/plugins/flot/jquery.flot.js"></script>
    <script src="/static/assets/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="/static/js/flot-data.js"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="/static/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
</body>

</html>
