{%extends "webapp/base.html"%}
{% load staticfiles %}
{%block content%}
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Reboot</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Reboot</li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card" style="width:50%" id="card">
                <div class="card-block" align="center">
                    Would you like to reboot this compute stick ?
                </div>
                <div align="center">
                    <a href='#' class="btn pull-center hidden-sm-down btn-info" id="reboot">Yes</a>
                    &nbsp;&nbsp;<a href={%url 'webapp:index' %} class="btn pull-center hidden-sm-down btn-info">No</a>
                </div>
                <br/>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
</div>
<script src="/static/assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript">
    $("#reboot").click(function () {
        d = document.getElementById("card");
        d.innerHTML = '<div class="card-block" align="center">Waiting a moment ...</div><div align="center"><progress style="width:100px">您的浏览器不支持progress标签</progress></div>';
        setTimeout(stickreboot, 100,'reboot');
});
    function stickreboot(flag){
      $.ajax({
      type: 'GET',
      url: "/reboot_ajax/", 
      data:{flag:flag},
      success: function(reponse){
        window.location.href="{%url 'webapp:index' %}";
      },
      error: function(xhr, type){
        setTimeout(stickreboot, 100,'');
      }
    })
    }
</script>
{%endblock%}