{%extends "webapp/base.html"%}
{% load staticfiles %}
{%block content%}
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <div class="card">
                <div class="card-block">
                    <center class="m-t-30"> <img src="/static/assets/images/{{request.user.avatar}}" class="img-circle" width="150" />
                        <h4 class="card-title m-t-10">{{request.user}}</h4>
                        <h6 class="card-subtitle">{{request.user}}</h6>
                    </center>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-8 col-xlg-9 col-md-7">
            <div class="card">
                <div class="card-block">
                    <form method="post" class="form-horizontal form-material" action={%url "webapp:password_setting" %}>
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-md-12">Full Name</label>
                            <div class="col-md-12">
                                <br/>
                                <h4>{{request.user}}</h4>
                                <hr/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Old Password</label>
                            <div class="col-md-12">
                                <input type="password" value="" class="form-control form-control-line" name ="old" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">New Password</label>
                            <div class="col-md-12">
                                <input type="password" value="" class="form-control form-control-line" name ="new" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Confirm New Password</label>
                            <div class="col-md-12">
                                <input type="password" value="" class="form-control form-control-line" name ="cnew" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button class="btn btn-info">Save</button>
                            </div>
                        </div>
                        <p class={{flag}}>{{flash}}</p>
                    </form>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
</div>
{%endblock%}