<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="/static/image/png" sizes="16x16" href="/static/assets/images/favicon.png">
    <title>Toybrick | Easy AI, Like Toybrick</title>
    <!-- Bootstrap Core CSS -->
    <link href="/static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="/static/css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href={%url 'webapp:index' %}>
                        <!-- Logo icon -->
                        <b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="/static/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                            
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span>
                            <!-- dark Logo text -->
                <!--<img src="/static/assets/images/logo-text.png" alt="homepage" class="dark-logo" />-->
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0 ">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                            <h2>计算棒测试工具V2.0&nbsp;&nbsp;&nbsp;&nbsp;</h2>
                        </li>
                        <li class="nav-item dropdown">
                            <h2>[{{manufactureid}}]</h2>
                        </li>
                    </ul>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li>
                            <a href='#' class="waves-effect" id="fttest" ><i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>功能测试</a>
                        </li>
                        <li>
                            <a href='#' class="waves-effect" id="stress_test" ><i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>老化测试</a>
                        </li>
                        <li>
                            <a href='#' class="waves-effect" id="isrecovery" ><i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>恢复出厂设置</a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">老化测试</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">产测</a></li>
                            <li class="breadcrumb-item active">老化测试</li>
                        </ol>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-block">
                                <h4 class="card-title">测试表:</h4>
                                <div class="table-responsive m-t-40">
                                    <table class="table stylish-table">
                                        <thead>
                                            <tr>
                                                <th colspan="2">测试项</th>
                                                <th colspan="2">测试结果</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="width:50px;"><span class="round round-warning">S</span></td>
                                                <td>
                                                    <h6>Stress Test</h6><small class="text-muted">老化测试</small></td>
                                                <td style="color:#87CEFA" id="sresult">&nbsp;&nbsp;&nbsp;&nbsp;{{stressresult}}</td>
                                                <td align="center">
                                                    {% csrf_token %}
                                                    <select id="select" name="select" class="selectpicker show-tick form-control" style="width:40%;">
                                                        <option value="690"  >12小时拷机测试</option>
                                                        <option value="1"  >1分钟拷机测试</option>
                                                        <option value="60"  >1小时拷机测试</option>
                                                        <option value="460"  >8小时拷机测试</option>
                                                        <option value="690"  >12小时拷机测试</option>
                                                        <option value="1380"  >24小时拷机测试</option>
                                                    </select>
                                            </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div align="center"><a href="#" class="btn pull-center hidden-sm-down btn-success" id="start">启动测试</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="btn pull-center hidden-sm-down btn-info" id="read">刷新结果</a></div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <p>老化测试请点击启动测试然后将计算棒取下送去老化测试，等测试结束后再插回宿主机，待能访问页面后，然后点击刷新结果查看老化测试结果。</p>
                            <p>根据右上角的Sn号为计算棒贴上SN标签，全为0则SN号未烧写。</p>
                        </div>
                    </div>
                </div>
                <div id="hidebg" style="height:100%;" ></div>
                <div id="hidebox">
                    <div class="row">
                        <div class="col-12">
                            <div class="card" style="width:100%" id="card">
                                <div class="card-block" align="center">
                                    <h4>计算棒未就绪，请停留在此页面等待。。。</h4>
                                    <h4>友情提示：在此期间请不要刷新或者做其他任何操作</h4>
                                </div>
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row -->
                <br>
                <br>
<!--                 <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div>&nbsp;&nbsp;当前计算棒老化测试结果读取:&nbsp;&nbsp;&nbsp;&nbsp;<span id="read_result">[&nbsp;&nbsp;]</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="btn pull-center hidden-sm-down btn-info" id="read">读取</a></div>
                        </div>
                    </div>
                </div> -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                        </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
            © 2019 official website <a href="http://www.rock-chips.com" target="_blank" title="瑞芯微">Rockchip</a>- visit community<a href="http://t.rock-chips.com" title="社区" target="_blank">Rockchip Community</a>
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/static/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/static/assets/plugins/bootstrap/js/tether.min.js"></script>
    <script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/static/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/static/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/static/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="/static/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="/static/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- Flot Charts JavaScript -->
    <script src="/static/assets/plugins/flot/jquery.flot.js"></script>
    <script src="/static/assets/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="/static/js/flot-data.js"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="/static/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
    <script type="text/javascript">

    </script>
</body>
    <script type="text/javascript">
    $("#start").click(function () {
        this.style.visibility="hidden";
        d = document.getElementById("select");
        d2 = document.getElementById("sresult");
        d2.innerHTML = '<progress style="width:100px">您的浏览器不支持progress标签</progress>';
        setTimeout(testItem, 1000,'sresult',d.value);
        alert('请将计算棒送去拷机测试，并插入下一个计算棒!');
});
    function testItem(item,testtime){
      $.ajax({
      type: 'GET',
      url: "/stress_ajax/", 
      data:{item:item,testtime:testtime},
      success: function(reponse){
        var answer = JSON.parse(reponse);
        var ans = answer['ans'];

        /************业务逻辑块：实现拼接html内容并append到页面*****************/
        d = document.getElementById(item);
        if(ans == 'ok'){
            d.style.setProperty("color", "#00FF00");
        }
        else if(ans == 'fail'){
            d.style.setProperty("color", "#FF0000");
        }
        d.innerHTML = '&nbsp;&nbsp;&nbsp;&nbsp;' + answer['ans'];
      },
      error: function(xhr, type){
        show();
        setTimeout(changePage, 1000,'stress_test');
      }
    })
    }
    $("#fttest").click(function () {
        setTimeout(changePage, 100,'fttest');
});
    $("#stress_test").click(function () {
        setTimeout(changePage, 100,'stress_test');
});
    $("#isrecovery").click(function () {
        setTimeout(changePage, 100,'isrecovery');
});
    function changePage(item){
      $.ajax({
      type: 'GET',
      url: "/page_ajax/", 
      data:{item:item},
      success: function(reponse){
          if(item == "fttest"){
              newurl = "{%url 'webapp:fttest' %}";
          }
          else if(item == "stress_test"){
              newurl = "{%url 'webapp:stress_test' %}";
          }
          else if(item == "isrecovery"){
              newurl = "{%url 'webapp:isrecovery' %}";
          }
          window.location.href = newurl;
      },
      error: function(xhr, type){
        show();
        setTimeout(changePage, 1000,item);
      }
    })
    }
    $("#read").click(function () {
        setTimeout(readresult, 100,'sresult');
});
    function readresult(item){
      $.ajax({
      type: 'GET',
      url: "/read_ajax/", 
      data:{item:item},
      success: function(reponse){
          var answer = JSON.parse(reponse);
          var ans = answer['ans'];
          d = document.getElementById("sresult");
          if(ans =="ok"){
              d.style.color = "#00FF00";
          }
          else if(ans =="fail"){
              d.style.color = "#FF0000";
          }
          else{
              d.style.color = "blue";
          }
          d.innerHTML = '&nbsp;&nbsp;&nbsp;&nbsp;' + ans;
      },
      error: function(xhr, type){
        show();
        setTimeout(changePage, 1000,'stress_test');
      }
    })
    }
    function show()  //显示隐藏层和弹出层
    {
       var hideobj=document.getElementById("hidebg");
       hidebg.style.display="block";  //显示隐藏层
       hidebg.style.height="1000px";  //设置隐藏层的高度为当前页面高度
       document.getElementById("hidebox").style.display="block";  //显示弹出层
    }
    function hide()  //去除隐藏层和弹出层
    {
       document.getElementById("hidebg").style.display="none";
       document.getElementById("hidebox").style.display="none";
    }
    window.onload=function (){
        var flash = '{{ flash|safe }}';
        if(flash != ''){
            show();
        }

    }
    </script>
</html>
